.body {
  font-family: "Montserrat";
}

#title {
  background-color: #ff4c68;
  position: relative;
}

/* headings */
h3, h2, h1 {
  font-family: "Montserrat";
  line-height: 1.5;
  font-weight: bold;
}

h3 {
  font-size: 1.5rem;
}

h2 {
  font-size: 3rem;
}

h1 {
  font-size: 3.5rem;
  color: #fff;
}
p {
  color: #8f8f8f;
}

.container-fluid {
  padding: 3% 15%;
}

/* Navegation Bar */
.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat-Light";
}

/* Buttons */
.download-button {
  margin: 5% 3% 5% 0;
}

.title-image {
  /* width: 60%; */
  width: 20%;
  position: absolute;
  transform: rotate(25deg);
  right:30%;
}


#features {
  padding: 7% 15%;
  background-color: #fff;
  position: relative;
  /* top: -190px; */
  z-index: 1;
}

.icons {
  color: #ef8172;h2 {
  font-size: 3rem;
}

h1 {
  font-size: 3.5rem;
  color: #fff;
}
  font-size: 4rem;
  padding-bottom: 1rem;
}

.icons:hover {
  color: #ff4c68;
}

#testimonials {
  text-align: center;
  background-color: #ef8172;
  color: #fff;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

#press {
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

.carousel-item {
  padding: 7% 15%;
}

/* Pricing Section */
#pricing {
  padding: 100px;
  text-align: center;
}

.pricing-column {
  padding: 3% 2%;
}

#cta {
  text-align: center;
  background-color: #ff4c68;
  color: #fff;
  padding: 7% 15%;
}

.cta-heading {
  font-family: "Montserrat";
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: 900;
}

.social-icon {
  margin: 20px 10px;
}

footer {
  text-align: center;
  padding: 7% 15%;
  line-height: 1.5;
}

@media (max-width:990px) {
  #title {
    text-align: center;
  }

  .title-image {
    position: static;
    width: 50%;
    transform: rotate(0);
  }

  #features {
    padding: 7% 15%;
    background-color: #fff;
    position: relative;
    top: 0;
  }
}

@media (max-width:800px) {
  #title {
    text-align: center;
  }

  .title-image {
    position: static;
    width: 50%;
    transform: rotate(0);
  }

  #features {
    padding: 7% 15%;
    background-color: #fff;
    position: relative;
    top: 0;
  }

  h2, h3, .cta-heading {
    font-size: 1rem;
  }

  h1 {
    font-size: 1.5rem;
    color: #fff;
  }

}

@media (max-width:900px) {
  .container-fluid {
    padding: 3% 7.5%;
  }

  .nav-item {
    padding: 0 18px;
  }

  .navbar {
    padding: 0 0 2.25rem;
  }

  #title {
    text-align: center;
  }

  .title-image {
    position: static;
    width: 50%;
    transform: rotate(0);
  }

  .press-logo {
    width: 30%;
    margin: 20px 20px 50px;
  }


  #features {
    padding: 7% 15%;
    background-color: #fff;
    position: relative;
    top: 0;
  }

  h2, h3, .cta-heading {
    font-size: 1rem;
  }

  h1 {
    font-size: 1.5rem;
    color: #fff;
  }

}
